{% load static %}
<style>
    body {
            background-image: url('https://th.bing.com/th/id/OIP.u1VqOCLJpGjST0ekIqp8OgHaEo?w=286&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }


</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
  Branches
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Ernakulam">Ernakulam</a></li>
    <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Malappuram">Malappuram</a></li>
    <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Idukki_district">Idukki</a></li>
    <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kottayam">Kottayam</a></li>
    <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Thiruvananthapuram">Trivandrum</a></li>
    <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kollam">Kollam</a></li>
    <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Alappuzha">Alappuzha</a></li>
    <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Thrissur">Thrissur</a></li>
  </ul>
        </div>
      </ul>
    </div>
<div class="topnav-right">
    <li><a href="logout">Logout</a></li>
</div>
</nav>
<header>
<p style="text-align:center">
    <img src="{% static 'img/logo.png' %}" alt="logimage" width="200" height="200">
</p>


</header>
<!--<div>-->
<!--    <img class="my_image my_image_padding" src="https://i.pinimg.com/originals/1c/e6/3d/1ce63dcbcc968187b0e9b0261aeada5e.jpg" alt="" style="width: 100%; height: auto; object-fit: contain;">-->
<!--</div>-->

<!--<div style="text-align:center">-->
<!--  <a class="btn btn-success"  href="{% url 'login' %}">Login Here</a>-->
<!--</div>-->